body {
    margin: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, auto-fit);
    justify-content: center;
}
.mark-selection,
.reset {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.mark-sel-btn,
.reset-btn {
    padding: 10px 50px;
    border-style: none;
    border-radius: 10px;
    background-color: lightskyblue;
    text-transform: uppercase;
}
.mark-sel-btn:hover,
.reset-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 5px black;
}
.mark-sel-btn:active,
.reset-btn:active {
    box-shadow: 0 0 5px black;
    background-color: rgb(88, 184, 243);
}
.gameboard {
    height: 400px;
    width: 400px;
    background-color:dimgray;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    color: white;
}